#main, .no_fixed_layout #main, .designer_page #main{
	position: relative;
	padding: 0 15px;
	margin-top: 165px;
}

.project_index #main, .project_index.no_fixed_layout #main, .project_index.designer_page #main{
	padding: 0;
}

#page_container{
	position: relative;
}

/* homepage */

#home_intro{
	position: absolute; top: 925px; left: 15px;
	width: 270px;
	max-width: 100%;
	margin-bottom: 0;
	text-align: left;
}

#home_intro p{
	font-size: 1.8em;
	margin-bottom: 15px;
}

#home_cta_box_container{
	margin-bottom: 0;
}

/* project info, meta & credits */

#project_info, #project_meta, #project_images_credit{
	position: absolute;
}

#project_info, #project_meta, #project_images_credit, h3.cta_box{
	margin-left: 0;
}

h3.cta_box{
	background: none;
}

#project_info{
	width: 255px; padding: 7px;
	background: #f6f6f2;
}












#project_meta dt{
	/* color: #333333; */ color: #ff5c14;
}

#project_meta dd{
	margin-bottom: 17px;
	/* color: #a5a5a5; */ color: #333333;
}









#project_info h1{
	font-size: 1.8em;
	margin-bottom: 6px;
}

#project_info p{
	font-size: 1.3em; line-height: 1.4; color: #a5a5a5;
}

#project_meta{
	width: 112px; padding: 7px;
	background: #f6f6f2;
	font-size: 1.3em;
}

#project_meta dt{
	color: #333333;
}

#project_meta dd{
	color: #a5a5a5;
}

#project_images_credit{
	width: 320px;
	font-size: 1.3em;
}

.csstransforms3d #project_images_credit{
	right: -23px;
}

.project_images_credit_text{
	padding-left: 20px;
	background: transparent url(../_img/black-spot.png) left no-repeat;
}

.csstransforms3d .project_images_credit_text{
	position: absolute; left: 100%;
	width: 100%;

	-webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg);
	-webkit-transform-origin: 0px 0px; -o-transform-origin: 0px 0px; -moz-transform-origin: 0px 0px; transform-origin: 0px 0px;
}

/*  project list / image list */

#project_index_list{
	margin-bottom: 43px;
}

#project_display_additional_list{
	overflow: hidden;
	margin-top: 15px; margin-bottom: -15px;
}

#main .project_image img{
	width: auto;
}

.project_image{
	position: absolute; z-index: 1;
	margin-bottom: 0;

	-webkit-transform: translate3D(0px, 0px, 0px); -o-transform: translate3D(0px, 0px, 0px); -moz-transform: translate3D(0px, 0px, 0px); transform: translate3D(0px, 0px, 0px);

	/*
	-webkit-transition: -webkit-transform .4s; -moz-transition: -moz-transform .4s; -o-transition: -o-transform .4s; transition: transform .4s;
	*/
}

#project_index_list .project_image{
	position: relative; z-index: 1;
	float: left;
	margin: 0 15px 30px 15px;
}

#project_display_additional_list .project_image{
	position: relative;
	margin-bottom: 30px;
}

#project_index_list .project_image a{
	padding: 0;
}

.project_image:hover{
	z-index: 100 !important;
}

#project_index_list .size_280{
	width: 210px;
}

.project_image_overlay{
	display: block;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	background: #ffffff;

	filter: alpha(opacity = 20); opacity: 0.2;
	-webkit-transition: opacity .4s; -moz-transition: opacity .4s; -o-transition: opacity .4s; transition: opacity .4s;
}

.project_image:hover .project_image_overlay{
	filter: alpha(opacity = 0); opacity: 0;
}

#project_index_list .project_image_overlay, #homepage_project_list .project_image_overlay{
	background: #000000;

	filter: alpha(opacity = 0); opacity: 0;

	-webkit-transition: opacity .4s; -moz-transition: opacity .4s; -o-transition: opacity .4s; transition: opacity .4s;
}

#project_index_list .project_image:hover .project_image_overlay, #homepage_project_list .project_image:hover .project_image_overlay{
	filter: alpha(opacity = 65); opacity: 0.65;
}

/* isotope project filtering transitions */

.isotope  .isotope-item{
	-webkit-transition: -webkit-transform .4s; -moz-transition: -moz-transform .4s; -o-transition: -o-transform .4s; transition: transform .4s;
}

/* image sizes (widths) */

.size_200{
	width: 150px;
}

.size_280{
	width: 210px;
}

.size_360{
	width: 270px;
}

.size_440{
	width: 330px;
}

.size_480{
	width: 360px;
}

.size_520{
	width: 390px;
}

.size_600{
	width: 450px;
}

.size_680{
	width: 510px;
}

.size_760{
	width: 570px;
}

.size_920{
	width: 690px;
}

/* homepage project list */

#homepage_project_list{
	height: 1065px;
	margin-bottom: 89px;
}

#homepage_project_list .image_1{
	top: 0; left: 15px;
	z-index: 1;
}

#homepage_project_list .image_2{
	top: 0; right: 15px;
	z-index: 1;
}

#homepage_project_list .image_3{
	top: 180px; left: 75px;
	z-index: 20;
}

#homepage_project_list .image_4{
	top: 390px; right: 75px;
	z-index: 10;
}

#homepage_project_list .image_5{
	top: 630px; left: 15px;
	z-index: 20;
}

#homepage_project_list .image_6{
	top: 630px; right: 15px;
	z-index: 1;
}

/* homepage call to action / project display category */

.cta_box{
	display: block;
	border: 2px solid #ff5c14;

	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;

	position: absolute; z-index: 75;
	height: 150px; width: 150px;

	margin-bottom: 0;
	font-size: 1.6em; padding: 0;

	-webkit-transition: background-color .4s; -moz-transition: background-color .4s; -o-transition: background-color .4s; transition: background-color .4s;
}

.cta_box_container{
	display: block;
	position: absolute; top: 10px; right: 21px; bottom: 10px; left: 21px;
}

a.cta_box{
	display: block; margin-right: 0;
}

a.cta_box:hover{
	background: rgba(246,246,242,0.85); text-decoration: none;
}

.cta_box_text{
	display: block;
	position: absolute; left: 0; bottom: 0;
}

#home_cta_about, #home_cta_exhibition, #home_cta_performance{
	display: block;
}

#home_cta_about{
	left: 375px; top: 210px;
}

#home_cta_exhibition{
	left: 15px; top: 420px;
}

#home_cta_performance{
	left: 375px; top: 930px;
}

/*
.csstransforms3d .cta_box.left .cta_box_container{
	top: 12px; right: 12px; bottom: 12px; left: 24px;
}

.csstransforms3d .cta_box.right .cta_box_container{
	top: 12px; right: 24px; bottom: 12px; left: 24px;
}
*/

.csstransforms3d .cta_box.left .cta_box_container{
	top: 12px; right: 0; bottom: 12px; left: 24px;
}

.csstransforms3d .cta_box.right .cta_box_container{
	top: 12px; right: 24px; bottom: 12px; left: 0;
}

.csstransforms3d .cta_box.left .cta_box_text, .csstransforms3d .cta_box.right .cta_box_text{
	-webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg);
	-webkit-transform-origin: 5px 5px; -o-transform-origin: 5px 5px; -moz-transform-origin: 5px 5px; transform-origin: 5px 5px;
}

/*
.csstransforms3d .cta_box.left .cta_box_text{
	left: 0; bottom: auto; top: 6px;
}

.csstransforms3d .cta_box.right .cta_box_text{
	left: 100%; bottom: auto; top: 6px;
}
*/

.csstransforms3d .cta_box.left .cta_box_text{
	left: 0; bottom: auto; top: 6px;
}

.csstransforms3d .cta_box.right .cta_box_text{
	left: 100%; bottom: auto; top: 6px;
}
